<form action="/microposts/<%= @micropost.id %>" method="POST">
	<input type="hidden" name="_method" value="PUT">

	<label for="title">title<br>
		<input type="text" name="micropost[title]" value="<%= @micropost.title %>">
	</label><br/><br/>

	<label for="author">author<br>
		<select name="micropost[author_id]">
			<% @authors.each do |author| %>
				<option <%= "selected" if author == @micropost.author %> value="<%= author.id %>"><%= author.username %></option>			
			<% end %>
		</select>
	</label><br/><br/>

	<label for="content">content<br/>
		<textarea rows="3" cols="100"><%= @micropost.content %></textarea name="micropost[content]" value="<%= @micropost.content %>">
	</label><br/><br/>

	<label for="country">country<br/>
		<select name="micropost[country_id]">
			<% @countries.each do |country| %>
				<option value="<%=country.id%>"><%= country.name %></option>
			<% end %>
		</select>
	</label><br/><br/>

	<label for="city">city<br>
		<input type="text" name="micropost[city]" value="<%= @micropost.city %>">
	</label><br><br/>
	
	<label for="tag_to_post">tags<br/>
		<% @tags.each do |tag| %>
    	<input <%= "checked" if @micropost.tags.include?(tag) %> type="checkbox" name="tags[]" value="<%= tag.id %>"><%= tag.name %><br>
	<% end %>   
	<input type="submit" name="submit"><br/><br/>
</form>	

<form action="/microposts/<%= @micropost.id %>/remove_tag" method="post">
	<select name="tag_id"> 
	  <% @micropost.tags.each do |tag| %>
	    <option value="<%= tag.id %>"><%= tag.name %></option>
	  <% end %>
	</select>    
	<input type="submit" value="remove this tag from post"><br/><br/>
</form>

<form action="/microposts/<%= @micropost.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<h3>delete this post</h3>
	<input type="submit" value="delete"><br/><br/>
</form>	
