<h2><%= @micropost.title %></h2>
	<h3><%= @micropost.date_posted %></h3>
	<p><%= @micropost.content %></p>
	<h3>posted by: <%= @micropost.author.username %> from <%= @micropost.city %>, <%= @micropost.country.name %></h3>
<div class="big_image">
	<% @images.each do |image| %>
		<% if image.micropost_id == @micropost.id %>
			<img src="<%= image.img_url %>">
		<% end %>		
	<% end %>
</div>
	
	<% @micropost.tags.each do |tag| %>
		<h3><a href ="/tags/<%= tag.id %>"><%= tag.name %></a></h3>
	<% end %>

<form action="/microposts/<%= @micropost.id %>/add_tag" method="post">
    <select name="tag_id">
      <% @tags.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>    

    <input type="submit" value="tag this post">
</form><br/><br/>


<br/>
<br/>

<a href="/microposts/<%= @micropost.id %>/edit">edit entry</a>





