<h2><%= @micropost.title %></h2>
	<h3><%= @micropost.date_posted %></h3>
	<p><%= @micropost.content %></p>
	<h3>posted by: <%= @micropost.author.username %> from <%= @micropost.city %>, <%= @micropost.country.name %></h3>

<h3>tags: </h3>
<% @micropost.tags.each do |tag| %>
	<a href ="/tags/<%= tag.id %>"> |<%= tag.name %>| </a>
<% end %><br/>
<div class="big_image">
	<% @images.each do |image| %>
		<% if image.micropost_id == @micropost.id %>
			<a href="/images/<%= image.id %>"><img src="<%= image.img_url %>"></a>
		<% end %>		
	<% end %>
</div>
<br/>
<hr>
<h3><a href="/microposts/<%= @micropost.id %>/edit">edit this post</h3>