<% @tags.each do |tag| %>
	<div class="tags"><li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
<% end %></div>

<h2>add a new tag</h2>	

<form action=<% @tags.each do |tag| %>
				"/tags/remove_tag/<%= tag.id %>"
			<% end %> method="POST">	
	<input type="hidden" name="_method" value="DELETE">
		<select name="tag[id]">
			<% @tags.each do |tag| %>
				<option value="<%= tag.id %>"><%= tag.name %></option>
			<% end %>
		</select>
	
	<button>remove tag</button>

</form>	
