<div class="authors">
	<img src="<%= @author.avatar_img_url %>">
	<h2><%= @author.username %></h2>
	<h3>posts: 
	<% @microposts.each do |micropost| %>
		<% if micropost.author_id == @author.id %>
			<a href="/microposts/<%= micropost.id %>"><%= micropost.title %></a>
		<% end %>		
	<% end %>
</h3>
</div>

<br/>
<br/>

<a href="/authors/<%= @author.id %>/edit">edit author details</a>	